.delete,.nav > .signedin{
	display: none;
}

#optionsid:active,#optionsid:hover,#optionsid:focus,#optionsid:visited{
	background-color: white;
}
input{
	margin:5px;
	padding:5px;
	width:20%;
}
#question{
	width:60%;
}
#myChart{
	width:20%;
}
.jumbotron{
	margin-left: 5%;
	margin-right: 5%;
}
a.twitter-btn:hover,
a.twitter-btn:focus {
  background-color:rgba(0,132,180,1);
  color:white;
}
a.twitter-btn{
  background-color:rgba(0,132,180,0.8);
  color:white;
}

.loader {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 999;
	background-color: #000;
	background-color: rgba(0, 0, 0, 0.5);
}

.loader-splash {
	position: absolute;
  top: 50%;
  transform: translateY(-50%);
	width: 100%;
	display: block;
	text-align: center;
}

.loader-text {
	color: #fff;
	font-size: 2em;
}